<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928797912207-1tpfg0vdcebc7ctp8bc3rtnm8qprolnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928797912207-1tpfg0vdcebc7ctp8bc3rtnm8qprolnj</string>
	<key>API_KEY</key>
	<string>AIzaSyATnhdND8ewsT-Dnc79RxjD8RppAEARw9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>928797912207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-cc64a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-cc64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928797912207:ios:2e891eb329443ca66d14fa</string>
</dict>
</plist>